<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibração BLDC</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
   <header>
       <h1>VIBRAÇÃO BLDC</h1>
        <nav>
           <ul class="nav_links">
               <li><a href="/home">Home</a></li>
               <li><a href="/graphs">Gráficos</a></li>
               <li><a href="/results">Resultados</a></li>
               
           </ul>
       </nav>
        <ul class="buttons">            
                <button class="btn btn-iniciar">Iniciar</button>
                <button class="btn btn-parar">Parar</button>
        </ul>       
   </header>
   
   <div class="content-1">
        <div class="tabela">
            <div class="titulo">Insira os dados</div>
            <form action="#">
                <div class="simula">
    
                    <div class="input-box">
                        <span class="details">Massa do Motor</span>
                        <input type="text" placeholder="Massa do Motor" required>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Raio do Motor</span>
                        <input type="text" placeholder="Raio do Motor" required>
                    </div>

                    
                    <div class="input-box">
                        <span class="details">Comprimento do Braço</span>
                        <input type="text" placeholder="Comprimento do Braço" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Distância Sensor-Motor</span>
                        <input type="text" placeholder="Distância Sensor-Motor" required>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Duração do Teste</span>
                        <input type="text" placeholder="Duração do Teste" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Velocidade do Motor</span>
                        <input type="text" placeholder="Velocidade do Motor" required>
                    </div>
                    
                </div>
            </form>   
        </div>
    
        <div class="esquema">
            <img src="img/figura2.jpg" alt="Esquema Braço do Drone">
        </div>
        
    </div>   
</body>
</html>