@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: "Montserrat",sans-serif;
    color: #24252A;
    text-decoration: none;
    font-weight: 500; 
}

h1{
    color: #ffffff;
    font-size: 25px;
}

li, a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #24252A;
    text-decoration: none;
}

header{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    
    width: 100%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0;
} 

.nav_links li a:hover {
    color: #0088a9;   
}

button {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.btn-iniciar{
    background-color: rgba(0, 136, 169, 1);
}

.btn-iniciar:hover{
    background-color: rgba(0, 136, 169, .8);
}

.btn-parar{
    background-color: rgb(155, 2, 28);
}

.btn-parar:hover{
    background-color: rgba(155, 2, 28, .8);
}

/*-------------X----------- FIM DA NAV BAR -------------X-----------*/

/*--------------------- Elementos do Conteúdo ---------------------*/
/*------------------------------ TELA de DADOS -----------------------*/
.content-1{
    display: flex;   
    padding: 50px 0px 10px 120px;
    justify-content: space-between
}

.content-1 .tabela{
    display: block;
    max-width: 600px;
    background: #24252A;
    /* background: rgba(0, 136, 169, .8); */
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 23px black;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
}

.content-1 .tabela .titulo{
    /* color: #ffffff; */
    font-size: 25px;
    font-weight: 500;
}

.content-1 .tabela form .simula{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .simula .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

.simula .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.simula .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
}




/* ------------------- IMAGEM ESQUEMA FÍSICO -------------- */
.content-1 .esquema{
    display: block;
    /* width: 50%; */
    /* max-width: 100px; */
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 60px;
    /* height: 370px; */
}

.content-1 .esquema img{
    max-width: 600px;
}
/* --------X---------- IMAGEM ESQUEMA FÍSICO -------X------ */

/*-------------XX------------------ TELA de DADOS -----------XX----------*/

/*-------------------------------- TELA INICIAL -----------------------*/
.info-cont{
    position: relative;
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-cont .texto-box{
    position: relative;
    max-width: 800px;
    padding: 100px 120px 10px 120px;
}

.info-cont .texto-box h2{
    color: #24252A;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    font-size: 2em; 
    margin-bottom: 20px;
}

.info-cont .texto-box p{
    color: #24252A;
    font-family: "Montserrat",sans-serif;
    text-decoration: none; 
    margin-bottom: 20px;
}

.info-cont .texto-box a{
    display: inline-block;
    padding: 9px 20px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 40px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 500px;
    text-decoration: none;
}

.info-cont .img-box{
    display: flex;
    width: 400px;
    margin-top: 20px;
    justify-content: flex-end;
    border-radius: 90%;
    background-color: rgba(0, 136, 169, 1);
    /* background-color: #24252A; */
}

.info-cont .img-box img{
    max-width: 500px;
    
}

/*----------------------- CARDS -------------------------- */
.content-2{
    background: #24252A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px 0px 120px;
    margin-top: 40px;
    height: 400px;
}

.card-imagem{
    background: #0088a9;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: 80px;
    align-items: center;
}

.card-imagem h2{
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 2em;
    color: #ffffff;
}

.content-2 .card-texto{
    color: #24252A;
    font-family: "Montserrat",sans-serif;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%; 
}

.card-esq{
    background: white;
    border-radius: 18px;
    box-shadow: 0px 2px 23px black;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 450px;
    height: 300px;
}

.card-dir{
    background: white;
    border-radius: 18px;
    box-shadow: 0px 2px 23px black;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 450px;
    height: 300px;
}
/*--------X-------------- CARDS ------------X------------- */

footer{
    height: 100px;
    background: #ffffff;
}

/*------------XX------------------- TELA INICIAL ------------XX--------------*/

/*--------------------------------- TELA GRÁFICOS ---------------------------*/

.content-graph{
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    height: 450px;
    box-shadow: 0px 2px 23px black;
}

.content-graph img{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    
}

/*------------XX------------------ TELA GRÁFICOS ------------XX--------------*/


